.menu__links--item
    &:nth-child(1)
        text-decoration: none
    &:nth-child(3)
        text-decoration: underline

.header-left__links--item
    &:nth-child(1)
        text-decoration: none
    &:nth-child(3)
        text-decoration: underline

.all-dtp
    width: 100%
    padding: 90px 0
    &-wrap
        width: 1300px
        margin: auto
        display: flex
        flex-direction: column
        align-items: start
    &__header
        width: 100%
        margin-bottom: 40px
        display: flex
        justify-content: space-between
        align-items: center
        &-btn
            &-add
                font-family: Montserrat
                font-style: normal
                font-weight: 500
                font-size: 14px
                line-height: 17px
                color: #F34D42
                cursor: pointer
            &-fitr
                display: none
                margin-right: 24px
                cursor: pointer
                border: none
                background-color: #fff
    &__title
        margin-top: 0
        margin-bottom: 0
        font-family: Montserrat
        font-style: normal
        font-weight: normal
        font-size: 36px
        line-height: 44px
        color: #000000
    &__right
        display: flex
        align-items: center
        justify-content: space-between
        width: auto
    &__content
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        &-wrap
            display: flex
            justify-content: start
            flex-wrap: wrap
            align-content: flex-start
            align-items: flex-start
        &--btn
            background: #FFFFFF
            border: 1px solid #F34D42
            border-radius: 7px
            padding: 11px 45px
            font-family: Montserrat
            font-style: normal
            font-weight: 500
            font-size: 12px
            line-height: 145%
            color: #F34D42
            cursor: pointer
            &-dis
                display: none
    &__card
        width: 310px
        display: flex
        align-items: start
        justify-content: start
        flex-direction: column
        border: 1px #F34D42 solid
        border-radius: 6px
        overflow: hidden
        padding: 5px 5px 12px 5px
        margin-bottom: 30px
        &:not(:nth-child(4n))
            margin-right: 20px
        &-img
            width: 100%
            height: 240px
            object-fit: cover
            object-position: 50% 50%
        &-wrap
            margin-top: 24px
            display: flex
            flex-direction: column
            width: 100%
            padding: 0 15px
            align-items: start
        &-title
            margin-top: 0
            margin-bottom: 10px
            font-family: Montserrat
            font-style: normal
            font-weight: 500
            font-size: 16px
            line-height: 20px
        &-text
            margin-bottom: 18px
            font-family: Montserrat
            font-style: normal
            font-weight: 500
            font-size: 12px
            line-height: 18px
            overflow: hidden
        &-btn
            background: #FFFFFF
            border: none
            font-family: Montserrat
            font-style: normal
            font-weight: 500
            font-size: 12px
            line-height: 15px
            color: #F34D42

@media (max-width: 1340px)
    .all-dtp
        padding: 60px 0
        &-wrap
            width: 868px
        &__title
            font-size: 30px
            line-height: 37px
        &__content
            &-wrap
                margin-bottom: 20px
            &--btn
                padding: 11px 64px
                font-size: 14px
                line-height: 145%
        &__card
            width: 202px
            border-radius: 10px
            padding: 10px 10px 14px 10px
            margin-bottom: 18px
            &:not(:nth-child(4n))
                margin-right: 20px
            &-img
                width: 100%
                height: 145px
                object-fit: cover
                object-position: 50% 50%
                border-radius: 4px
            &-wrap
                margin-top: 15px
                padding: 0
                margin-bottom: 0
            &-title
                margin-bottom: 6px
                font-weight: 500
                font-size: 14px
                line-height: 17px
            &-text
                margin-bottom: 18px
                font-size: 12px
                line-height: 16px
            &-btn
                font-weight: 500
                font-size: 12px
                line-height: 15px

@media (max-width: 900px)
    .all-dtp
        padding: 60px 0
        &-wrap
            width: 656px
        &__title
            font-size: 24px
            line-height: 29px
        &__content
            &-wrap
                margin-bottom: 16px
            &--btn
                font-size: 12px
                line-height: 145%
        &__card
            margin-bottom: 24px
            &:not(:nth-child(4n))
                margin-right: 0
            &:not(:nth-child(3n))
                margin-right: 25px
            &-title
                font-size: 16px
                line-height: 20px
                margin-bottom: 3px
            &-text
                margin-bottom: 10px

@media (max-width: 680px)
    .all-dtp
        padding: 35px 0
        &-wrap
            width: 424px
        &__header
            width: 100%
            margin-bottom: 30px
            &-btn
                &-add
                    font-size: 12px
                    line-height: 145%
                &-fitr
                    margin-right: 32px
        &__title
            font-size: 24px
            line-height: 29px
        &__content
            &-wrap
                justify-content: space-between
            &--btn
                padding: 11px 30px
        &__card
            width: 202px
            margin-bottom: 20px
            &:not(:nth-child(4n))
                margin-right: 0
            &:not(:nth-child(3n))
                margin-right: 0
            &:not(:nth-child(2n))
                margin-right: 20px
            &-img
                width: 100%
                height: 145px
                object-position: 50% 50%
            &-wrap
                margin-top: 15px
            &-title
                margin-bottom: 3px
                font-size: 16px
                line-height: 20px
            &-text
                margin-bottom: 10px
                font-weight: normal
                font-size: 12px
                line-height: 16px
            &-btn
                font-size: 12px
                line-height: 15px

@media (max-width: 450px)
    .all-dtp
        &-wrap
            width: calc(100% - 20px)
        &__content
            &-wrap
                justify-content: center
        &__card
            width: 300px
            margin-bottom: 20px
            &:not(:nth-child(2n))
                margin-right: 0
            &-img
                height: 185px
            &-wrap
                margin-top: 15px
            &-title
                margin-bottom: 3px
                font-size: 16px
                line-height: 20px
            &-text
                margin-bottom: 10px
                font-weight: normal
                font-size: 12px
                line-height: 16px
            &-btn
                font-size: 12px
                line-height: 15px
